<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Eventos</title>
</head>
<body>
    <form action="cadastro" method="post">
        Nome: <input type="text" name="nome" />
        Data: <input type="date" name="data" />
        Endereço: <input type="text" name="endereco" />
        horário: <input type="time" name="horario" />
        <button type="submit">Cadastrar</button>
    </form>  
</body>
</html>