<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Detalhe Eventos</title>
</head>
<body>
	<header class="" id="">
    <nav>
	    <div class="nav-wrapper indigo darken-4">
	      <a href="#!" class="brand-logo">Detalhe</a>
	      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	      <ul class="right hide-on-med-and-down">
	        <li><a class="waves-effect waves-light btn" href="cadastros">
				<i class="material-icons left">format_list_bulleted</i>Cadastros</a></li>
	      </ul>
	    </div>
  </nav>
	  <ul class="sidenav" id="mobile-demo">
	    <li><a href="cadastros">Cadastros</a></li>
	  </ul>
	</header>
	 
      <div class="container cadEvento" th:each ="ev:${detalheEvento}" >
		  <div class="row">
			  <p>Nome:    <span th:text="${ev.nome}"></span></p>
			  <p>Local:   <span th:text="${ev.local}"></span></p>
			  <p>Data:    <span th:text="${ev.data}"></span></p>
			  <p>Horário: <span th:text="${ev.horario}"></span></p>
		  </div><!--row-->
	  </div><!--container lista evento-->
	  <div class="container cadEvento">
		  <div class="row">
			  <form method="post" class="col s12">
			  	  	<div class="row">
						<div class="input-field col s6">
			           		<label for="nome">Nome</label>
			           		<input type="text" name="nome" placeholder="Nome" class="validate" required />						
						</div>
						<div class="input-field col s3">
			           		<label for="nome">Idade</label>
			           		<input type="text" name="idade" placeholder="idade" class="validate" required />						
						</div>
						<div class="input-field col s3">
			           		<label for="nome">Gênero</label>
			           		<input type="text" name="genero" placeholder="Gênero" class="validate" required />						
						</div>	
					</div>
					<button type="submit" class="btn">Adicionar</button>
		      </form>
		  </div>
	  </div><!-- container form -->  
       
       <div class="container">
		   <table>
			   <thead>
				   <tr>
					   <th>Convidado</th>
					   <th>Idade</th>
					   <th>Gênero</th>
					   <th>Excluir</th>
				   </tr>
			   </thead>
			   <tbody>
				   <tr th:each="c:${detalheConvidados}">
					   <td><span th:text="${c.nome}"></span></td>
					   <td><span th:text="${c.idade}"></span></td>
					   <td><span th:text="${c.genero}"></span></td>
					   <td><a><i  
					   class="material-icons left">delete</i></a></td>
				   </tr>
			   </tbody>
		   </table>
	   </div>
       
     
     
     <!-- Jquery -->
      <script tyoe="text/javascript" src="/jquery/code.jquery.com_jquery-3.7.0.min.js"></script> 
     
     <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
      <!-- Inicializador do jquery do materializer-->
      <script>
		   document.addEventListener('DOMContentLoaded', function() {
		    var elems = document.querySelectorAll('.sidenav');
		    var instances = M.Sidenav.init(elems, options);
		    });
		
		  // Or with jQuery
		
		  $(document).ready(function(){
		    $('.sidenav').sidenav();
		  });
	  </script>
</body>
</html>