<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Eventos</title>
</head>
<body>
	<header class="headMain" id="">
    	<nav class="" id="">
			<div class="nav-wrapper indigo darken-4">			    
		      <a href="#" class="brand-logo">Eventos</a>
		      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			      <ul class="right hide-on-med-and-down">
			        <li><a class="waves-effect waves-light btn" href="cadastro">
						<i class="material-icons left">add_circle_outline</i>
						Cadastrar Evento</a></li>
			      </ul>
			</div>
  		</nav>
  		<ul class="sidenav" id="mobile-demo">
	    	<li><a href="cadastro">Cadastro</a></li>
	    </ul>
	</header>
     <div class="container">
		 <table class="container">
			 <thead>
				 <tr>
					 <th>Nome</th>
					 <th>Data</th>
					 <th>Local</th>
					 <th>Horário</th>
					 <th>Excluir</th>		 
				 </tr>
			 </thead>
			 <tbody>
				 <tr th:each="ev:${listaEventos}">
					 <div class="row">
						 <td>
							 <a href="/detalheEvento">
							 	<span th:text="${ev.Nome}"></span></td>							 
							 </a>
						 <td><span th:text="${ev.data}"></span></td>
						 <td><span th:text="${ev.local}"></span></td>
						 <td><span th:text="${ev.horario}"></span></td>
				        <td>
						   <a th:href="${(#mvc.url('EC#deletar').arg(0, ev.codigo)).build()}"><i class="material-icons left">delete</i></a>
						</td> 						 	 	 
					 </div>
				 </tr>
			 </tbody>	 
		 </table>
	 </div>
     
      <!-- Jquery -->
      <script tyoe="text/javascript" src="/jquery/code.jquery.com_jquery-3.7.0.min.js"></script> 
     
     <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
      <!-- Inicializador do jquery do materializer-->
      <script>
		   document.addEventListener('DOMContentLoaded', function() {
		    var elems = document.querySelectorAll('.sidenav');
		    var instances = M.Sidenav.init(elems, options);
		    });
		
		  // Or with jQuery
		
		  $(document).ready(function(){
		    $('.sidenav').sidenav();
		  });
	  </script>
</body>
</html>